.nav-link{
    
    font-weight: 700 !important;
}
.active{
    color: #000 !important;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
.navbar-brand{
    color: #000 !important;
    font-weight: 700 !important;
    opacity: .7;
}
.dropdown-item{
    font-weight: 700 !important;
}